<%= stylesheet_link_tag "edit_post_area.css" %>

<%= form_for(@post, class: "edit-post-form") do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="section">
    <%= f.text_field :title, placeholder: "Title", class: "input-title" %>
  </div>

  <div class="section">
    public: <%= f.radio_button :status, 'public' %> &nbsp;
    private: <%= f.radio_button :status, 'private' %>
  </div>

  <div class="section">
    Tags: <%= f.text_field :tags, :value => @post.all_tags.join(';'), class: "input-tags" %>
  </div>

  <div class="section">
    Content: <%= f.text_area :content, class: "editor" %>
  </div>

  <div class="btn-wrapper">
    <button type="submit" class= "update btn">Submit</button>
  </div>
<% end %>
