<p id="notice"><%= notice %></p>

<div class="tags">
  <% @tags.each do |tag| %>
  <div class="tag">
    <%= link_to "#{tag[0]}(#{tag[1]})", search_by_tag_posts_path(tag[0])%>
  </div>
  <% end %>
  <hr>
</div>

<div class="search">
  <%= form_tag('/posts/search', method: 'get') do %>
    <%= label_tag(:keyword, "Search") %>
    <%= text_field_tag(:keyword) %>
    <%= submit_tag('Search') %>
  <% end %>
</div>

<div>
  <% @posts.each do |post| %>
    <div>
      <span><%= post.id %></span>
      <div><%= truncate post.content, :length => 300 %></div>
      <div>
        <%= link_to 'Show', post %>
        <%= link_to 'Edit', edit_post_path(post) %>
        <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %>
      </div>
    </div>
    <hr>
  <% end %>
</div>

<%= will_paginate @posts %>
