<p id="notice"><%= notice %></p>

<% if session[:user_id] %>
<%= link_to 'Edit', edit_post_path(@post) %>
<% end %>

<div> <%= @post.title %> </div>
<div><%= @post.user.name %></div>

<hr>
<div> <%= markdown @post.content %> </div>

<% if @post.status == 'private' %>
  此文章为私密文章
<% end %>

<div>
  <%= form_tag("/comments", method: :post, remote: true) do %>
    <%= hidden_field_tag(:post_id, @post.id) %>
    <div>email: <%= text_field_tag(:email) %></div>
    <div>name: <%= text_field_tag(:name) %></div>
    <div>content: <%= text_area_tag(:content) %></div>
    <%= submit_tag("Submit") %>
  <% end %>
</div>

<div id="comments">
  <%= render @post.comments %>
</div> 
