<!DOCTYPE html>
<html>
<head>
  <title><%= APP_CONFIG['blog_name'] %></title>
  <meta charset='utf-8'>
  <meta name="viewport" content="width=device-width">
  <%= stylesheet_link_tag 'layout', "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <%= auto_discovery_link_tag(:rss, root_url) %>
</head>
<body>

  <div class="header">
    <h1>
      <a class="no-color" href="/"><%= link_to APP_CONFIG['blog_name'], root_path %></a>
    <%= link_to "订阅", feed_url, target: "_blank", class: "rss"%>
    </h1>
  </div>

  <div class="content">
    <% if session[:user_id] %>
      <div>
        <%= render 'layouts/admin_bar' %>
      </div>
    <% end %>
    <%= yield %> 
  </div>

  <div class="footer">
    <a href="/about">About Me</a>
  </div>

</body>
</html>
